# Desafio Python e SQL

### Read com pd.read_sql

In [10]:
import pandas as pd
import sqlite3

conexao = sqlite3.connect("chinook.db")

tabela_clientes = pd.read_sql("SELECT * FROM customers where CustomerId = 1", conexao)
display(tabela_clientes)

conexao.close()

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3